# 服务器基础配置（公共）
server:
  servlet:
    context-path: /
  tomcat:
    uri-encoding: UTF-8
    accept-count: 1000
    threads:
      max: 800
      min-spare: 100

# Spring核心配置
spring:
  application:
    name: ranran-app
  messages:
    basename: i18n/local
  profiles:
    active: dev
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 50MB

# MyBatis-Plus 配置
mybatis-plus:
  mapper-locations: classpath:mapper/**/*.xml,classpath:mapper/*.xml
  type-aliases-package: com.ranran.common.domain.entity
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl
  global-config:
    db-config:
      id-type: AUTO
      logic-delete-field: isDeleted
      logic-delete-value: 1
      logic-not-delete-value: 0

# JWT 基础配置
jwt:
  secret: a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6q7r8a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6q7r8
  expire: 120  # 默认过期时间（分钟）