<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ranran.generator.mapper.GeneratorTableFieldMapper">

    <select id="selectAllField" parameterType="String" resultType="GeneratorTableField">
        select
            column_name as columnname,
            data_type as columntype,
            column_comment as remarks,
            case when LOWER(is_nullable) = 'yes' then 1 else 0 end as isnullable,
            case when LOWER(column_key) = 'pri' then 1 else 0 end as isprimarykey
        from information_schema.columns
        where table_schema = (select database()) and table_name = #{tableName}
        order by ordinal_position
    </select>

</mapper>